@model IEnumerable<StudentApplication.Models.Student>

    <h1>Students List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Faculty</th>
                <th>Department</th>
                <th>Student Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                    <tr>
                        <td>@student.Name</td>
                        <td>@student.Surname</td>
                        <td>@student.Faculty</td>
                        <td>@student.Department</td>
                        <td>@student.StudentNumber</td>
                        <td class="actions">
                    <a href="/Home/Details/@student.Id" class="btn btn-info">Details</a>
                    <a href="/Home/Edit/@student.Id" class="btn btn-primary">Edit</a>
                            <form asp-action="Delete" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@student.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
<a href="/Home/Create" class="btn btn-primary">Create New Student</a>
